/* ------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
----------------------------------------------------- IMPORTS -----------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------ */

@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* ------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
----------------------------------------------------- GLOBALS -----------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------ */
body {
  font-family: "Montserrat", sans-serif;
}

/* ------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
----------------------------------------------------- HEADER -----------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------ */
header {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px 50px;
  border-bottom: 1px solid #e5e5e5;
}

header img {
  width: 120px;
  height: 120px;
  transform: rotate(90deg);
}

h1 {
  font-size: 48px;
  font-weight: 400;
}

/* ------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
----------------------------------------------------- MAIN -----------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------ */

main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 250px;
  gap: 400px;
}

main > section {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.on-off {
  display: flex;
  gap: 30px;
}

.on-off > button {
  width: 120px;
  height: 70px;
  border-radius: 6px;
  border: 1px #908f8f solid;
  font-size: 36px;
  font-weight: 400;
  background-color: white;
}

.switchOnClicked {
  background-color: #5c48d3;
  color: white;
}

.switchOnNotClicked {
  background-color: white;
  color: #5c48d3;
}

.go-go-go {
  width: 250px;
  height: 145px;
  background-color: #46ac4a;
  color: white;
  border-radius: 6px;
  border: solid 1px #908f8f;
  font-size: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-way {
  width: 250px;
  height: 145px;
  background-color: #d34848;
  color: white;
  border-radius: 6px;
  border: solid 1px #908f8f;
  font-size: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reset {
  width: 100px;
  height: 50px;
  background-color: grey;
  color: white;
  border-radius: 6px;
  border: solid 1px #908f8f;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
----------------------------------------------------- FOOTER -----------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------ */

footer {
  text-align: center;
  margin-bottom: 20px;
}

footer span {
  font-weight: bold;
}
